In [1]:
import pyspark
from pyspark.sql import SparkSession,types

In [2]:
spark = SparkSession.builder.appName('spark-api').enableHiveSupport().getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/04/20 21:06:55 WARN Utils: Your hostname, MSI resolves to a loopback address: 127.0.1.1; using 172.21.94.33 instead (on interface eth0)
23/04/20 21:06:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/20 21:06:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### `Schema`

In [3]:
# defining schema using DDL
schema = "`State` string, `Color` string, `Count` int"


# alternative way to define schema - programatically
# schema = types.StructType([
#             types.StructField("State", types.StringType(),False),
#             types.StructField("Color", types.StringType(),False),
#             types.StructField("Count", types.IntegerType(),False)
# ])

df = spark.read.csv('data/mnm.csv',schema=schema,header=True)

In [15]:
df.printSchema()

root
 |-- State: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Count: integer (nullable = true)

In [16]:
df.show()

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
|   WY|  Blue|   16|
|   CA|Yellow|   53|
|   WA| Green|   60|
|   OR| Green|   71|
|   TX| Green|   68|
|   NV| Green|   59|
|   AZ| Brown|   95|
|   WA|Yellow|   20|
|   AZ|  Blue|   75|
|   OR| Brown|   72|
|   NV|   Red|   98|
|   WY|Orange|   45|
|   CO|  Blue|   52|
|   TX| Brown|   94|
|   CO|   Red|   82|
+-----+------+-----+
only showing top 20 rows

In [17]:
df.schema

StructType([StructField('State', StringType(), True), StructField('Color', StringType(), True), StructField('Count', IntegerType(), True)])

### `Columns`

In [45]:
from pyspark.sql import functions as F

In [32]:
# using expr func
df.select("State","Count",F.expr("Count*5").alias('Count_New')).show(5)

+-----+-----+---------+
|State|Count|Count_New|
+-----+-----+---------+
|   TX|   20|      100|
|   NV|   66|      330|
|   CO|   79|      395|
|   OR|   71|      355|
|   WA|   93|      465|
+-----+-----+---------+
only showing top 5 rows

In [31]:
# using col functions
df.select("State","Count",F.col("Count")*5).show(5)

+-----+-----+-----------+
|State|Count|(Count * 5)|
+-----+-----+-----------+
|   TX|   20|        100|
|   NV|   66|        330|
|   CO|   79|        395|
|   OR|   71|        355|
|   WA|   93|        465|
+-----+-----+-----------+
only showing top 5 rows

In [34]:
df.sort(F.desc("Count")).show(5)

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   UT|   Red|  100|
|   NM|Orange|  100|
|   NV|   Red|  100|
|   TX|   Red|  100|
|   UT|Yellow|  100|
+-----+------+-----+
only showing top 5 rows

In [39]:
df.sort(F.col("Count").desc()).show(5)

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   UT|   Red|  100|
|   NM|Orange|  100|
|   NV|   Red|  100|
|   TX|   Red|  100|
|   UT|Yellow|  100|
+-----+------+-----+
only showing top 5 rows

### `Row`

In [40]:
from pyspark.sql import Row

In [44]:
new_row = [Row('BH','Blue',23)]

In [45]:
new_row

In [46]:
new_df = spark.createDataFrame(new_row,schema=schema)

In [47]:
new_df.show()

+-----+-----+-----+
|State|Color|Count|
+-----+-----+-----+
|   BH| Blue|   23|
+-----+-----+-----+

In [48]:
df_mod = df.union(new_df)

In [52]:
df_mod.tail(5)

[Row(State='UT', Color='Orange', Count=87),
 Row(State='WA', Color='Blue', Count=31),
 Row(State='OR', Color='Brown', Count=78),
 Row(State='NV', Color='Orange', Count=73),
 Row(State='BH', Color='Blue', Count=23)]

### `Read,Write`

In [55]:
df_fire = spark.read.csv('/home/snehil/snehi/Desktop/Data/fire.csv',inferSchema=True,header=True)

In [56]:
df_fire.show(5)

+---------------+---------------+--------+--------------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+--------------------+----------+--------------------+----------------------+------------------+--------------------------+--------------------+-------------------+--------------+-----------------------+-------------------------+-----------+------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------+
|Incident Number|Exposure Number|      ID|             Address|      Incident Date|Call Number|         Alarm DtTm|       Arrival DtTm|         Close DtTm|City|zipcode|Battalion|Station Area| Box|Suppression Units|Suppression Personnel|EMS Units|EMS Personnel|Other Units|Other Personnel|First Unit On Scene|Estimated Property Loss|Estimated Contents Loss|Fire Fatalities|Fire Injuries|Civilian Fatalities|Civilian Injuries|Number of Alarms|   Primary Situation|Mutual Aid|Action Taken Primary|Action Taken Secondary|Action Taken Other|Detector Alerted Occupants|        Property Use|Area of Fire Origin|Ignition Cause|Ignition Factor Primary|Ignition Factor Secondary|Heat Source|Item First Ignited|Human Factors Associated with Ignition|Structure Type|Structure Status|Floor of Fire Origin|Fire Spread|No Flame Spead|Number of floors with minimum damage|Number of floors with significant damage|Number of floors with heavy damage|Number of floors with extreme damage|Detectors Present|Detector Type|Detector Operation|Detector Effectiveness|Detector Failure Reason|Automatic Extinguishing System Present|Automatic Extinguishing Sytem Type|Automatic Extinguishing Sytem Perfomance|Automatic Extinguishing Sytem Failure Reason|Number of Sprinkler Heads Operating|Supervisor District|neighborhood_district|               point|
+---------------+---------------+--------+--------------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+--------------------+----------+--------------------+----------------------+------------------+--------------------------+--------------------+-------------------+--------------+-----------------------+-------------------------+-----------+------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------+
|        8028304|              0|80283040|       150 Elsie St.|2008-04-01 00:00:00|   80920257|2008-04-01 18:06:37|2008-04-01 18:15:19|2008-04-01 18:21:48|  SF|  94110|      B06|          11|null|                1|                    4|        0|            0|          0|              0|                E11|                   null|                   null|              0|            0|                  0|                0|               1|412 - Gas leak (n...|      None|    86 - Investigate|                     -|                 -|                         -|962 - Residential...|               null|          null|                   null|                     null|       null|              null|                                  null|          null|            null|                null|       null|          null|                                null|                                    null|                              null|                                null|             null|         null|              null|                  null|                   null|                                  null|                              null|                                    null|                                        null|                               null|                  9|       Bernal Heights|POINT (-122.41837...|
|        8028303|              0|80283030|       85 Turner Tr.|2008-04-01 00:00:00|   80920256|2008-04-01 18:00:52|2008-04-01 18:06:30|2008-04-01 18:22:18|  SF|  94107|      B10|          37|null|                1|                    4|        0|            0|          0|              0|                E37|                   null|                   null|              0|            0|                  0|                0|               1| 552 - Police matter|      None|  76 - Provide water|                     -|                 -|                         -| 960 - Street, other|               null|          null|                   null|                     null|       null|              null|                                  null|          null|            null|                null|       null|          null|                                null|                                    null|                              null|                                null|             null|         null|              null|                  null|                   null|                                  null|                              null|                                    null|                                        null|                               null|               null|         Potrero Hill|POINT (-122.39489...|
|        8028309|              0|80283090|         175 6th St.|2008-04-01 00:00:00|   80920262|2008-04-01 18:42:06|2008-04-01 18:45:23|2008-04-01 18:53:25|  SF|  94105|      B03|          01|null|               10|                   35|        0|            0|          0|              0|                E01|                   null|                   null|              0|            0|                  0|                0|               1|210 - Steam Ruptu...|      None|    86 - Investigate|                     -|                 -|                         -|429 - Multifamily...|               null|          null|                   null|                     null|       null|              null|                                  null|          null|            null|                null|       null|          null|                                null|                                    null|                              null|                                null|             null|         null|              null|                  null|                   null|                                  null|                              null|                                    null|                                        null|                               null|               null|      South of Market|POINT (-122.40746...|
|        8028314|              0|80283140|       633 Hayes St.|2008-04-01 00:00:00|   80920268|2008-04-01 19:03:52|2008-04-01 19:08:39|2008-04-01 19:35:36|  SF|  94102|      B02|          36|null|                1|                    4|        0|            0|          0|              0|                E36|                   null|                   null|              0|            0|                  0|                0|               1|522 - Water or st...|      None|64 - Shut down sy...|                     -|                 -|                         -|400 - Residential...|               null|          null|                   null|                     null|       null|              null|                                  null|          null|            null|                null|       null|          null|                                null|                                    null|                              null|                                null|             null|         null|              null|                  null|                   null|                                  null|                              null|                                    null|                                        null|                               null|                  5|         Hayes Valley|POINT (-122.42684...|
|        8028319|              0|80283190|27th Av. / Cabril...|2008-04-01 00:00:00|   80920273|2008-04-01 19:16:12|2008-04-01 19:23:48|2008-04-01 19:28:49|  SF|  94121|      B07|          14|null|                1|                    4|        0|            0|          0|              0|                E14|                   null|                   null|              0|            0|                  0|                0|               1|520 - Water probl...|      None|00 - Action taken...|                     -|                 -|                         -| 960 - Street, other|               null|          null|                   null|                     null|       null|              null|                                  null|          null|            null|                null|       null|          null|                                null|                                    null|                              null|                                null|             null|         null|              null|                  null|                   null|                                  null|                              null|                                    null|                                        null|                               null|               null|       Outer Richmond|POINT (-122.48639...|
+---------------+---------------+--------+--------------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+--------------------+----------+--------------------+----------------------+------------------+--------------------------+--------------------+-------------------+--------------+-----------------------+-------------------------+-----------+------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------+
only showing top 5 rows

### `Projections and Filters`

In [77]:
df_fire.filter(F.col("neighborhood_district")=='Potrero Hill').show(5,truncate=False)

+---------------+---------------+--------+-----------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+---------------------------------------------+----------+--------------------+----------------------+------------------+--------------------------+---------------------------------------+------------------------------------------+------------------------------------------+-----------------------+-------------------------+-----------------+------------------------------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------------------+
|Incident Number|Exposure Number|ID      |Address          |Incident Date      |Call Number|Alarm DtTm         |Arrival DtTm       |Close DtTm         |City|zipcode|Battalion|Station Area|Box |Suppression Units|Suppression Personnel|EMS Units|EMS Personnel|Other Units|Other Personnel|First Unit On Scene|Estimated Property Loss|Estimated Contents Loss|Fire Fatalities|Fire Injuries|Civilian Fatalities|Civilian Injuries|Number of Alarms|Primary Situation                            |Mutual Aid|Action Taken Primary|Action Taken Secondary|Action Taken Other|Detector Alerted Occupants|Property Use                           |Area of Fire Origin                       |Ignition Cause                            |Ignition Factor Primary|Ignition Factor Secondary|Heat Source      |Item First Ignited                        |Human Factors Associated with Ignition|Structure Type|Structure Status|Floor of Fire Origin|Fire Spread|No Flame Spead|Number of floors with minimum damage|Number of floors with significant damage|Number of floors with heavy damage|Number of floors with extreme damage|Detectors Present|Detector Type|Detector Operation|Detector Effectiveness|Detector Failure Reason|Automatic Extinguishing System Present|Automatic Extinguishing Sytem Type|Automatic Extinguishing Sytem Perfomance|Automatic Extinguishing Sytem Failure Reason|Number of Sprinkler Heads Operating|Supervisor District|neighborhood_district|point                           |
+---------------+---------------+--------+-----------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+---------------------------------------------+----------+--------------------+----------------------+------------------+--------------------------+---------------------------------------+------------------------------------------+------------------------------------------+-----------------------+-------------------------+-----------------+------------------------------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------------------+
|8028303        |0              |80283030|85 Turner Tr.    |2008-04-01 00:00:00|80920256   |2008-04-01 18:00:52|2008-04-01 18:06:30|2008-04-01 18:22:18|SF  |94107  |B10      |37          |null|1                |4                    |0        |0            |0          |0              |E37                |null                   |null                   |0              |0            |0                  |0                |1               |552 - Police matter                          |None      |76 - Provide water  |-                     |-                 |-                         |960 - Street, other                    |null                                      |null                                      |null                   |null                     |null             |null                                      |null                                  |null          |null            |null                |null       |null          |null                                |null                                    |null                              |null                                |null             |null         |null              |null                  |null                   |null                                  |null                              |null                                    |null                                        |null                               |null               |Potrero Hill         |POINT (-122.39489 37.756291)    |
|3000180        |0              |30001800|300 20th St.     |2003-01-01 00:00:00|30010240   |2003-01-01 07:21:39|2003-01-01 07:28:16|2003-01-01 07:52:09|SF  |94110  |B10      |25          |null|3                |12                   |0        |0            |0          |0              |E25                |0                      |0.0                    |0              |0            |0                  |0                |1               |522 - Water or steam leak                    |None      |86 - Investigate    |-                     |-                 |-                         |963 - Street or road in commercial area|null                                      |null                                      |null                   |null                     |null             |null                                      |null                                  |null          |null            |null                |null       |null          |null                                |null                                    |null                              |null                                |null             |null         |null              |null                  |null                   |null                                  |null                              |null                                    |null                                        |null                               |null               |Potrero Hill         |POINT (-122.384719 37.760774)   |
|3008178        |0              |30081780|601 Minnesota St.|2003-01-29 00:00:00|30290037   |2003-01-29 07:23:55|2003-01-29 07:28:11|2003-01-29 07:53:58|SF  |94107  |B03      |29          |null|1                |4                    |0        |0            |0          |0              |E29                |0                      |0.0                    |0              |0            |0                  |0                |1               |131 - Passenger vehicle fire                 |None      |11 - Extinguish     |-                     |-                 |-                         |960 - Street, other                    |81 - Operator/passenger area/transport equ|U - Cause undetermined after investigation|-                      |-                        |UU - Undetermined|21 - Upholstered sofa, chair, vehicle seat|-                                     |null          |null            |null                |null       |null          |null                                |null                                    |null                              |null                                |null             |null         |null              |null                  |null                   |null                                  |null                              |null                                    |null                                        |null                               |null               |Potrero Hill         |POINT (-122.390607 37.762862)   |
|3002587        |0              |30025870|1215 Carolina St.|2003-01-09 00:00:00|30090110   |2003-01-09 09:20:14|2003-01-09 09:25:08|2003-01-09 09:35:08|SF  |94107  |B10      |37          |null|1                |4                    |0        |0            |0          |0              |E09                |0                      |0.0                    |0              |0            |0                  |0                |1               |735 - Alarm system sounded due to malfunction|None      |86 - Investigate    |-                     |-                 |-                         |213 - Elem. school, inc. kindergarten  |null                                      |null                                      |null                   |null                     |null             |null                                      |null                                  |null          |null            |null                |null       |null          |null                                |null                                    |null                              |null                                |null             |null         |null              |null                  |null                   |null                                  |null                              |null                                    |null                                        |null                               |null               |Potrero Hill         |POINT (-122.399403 37.753323)   |
|3005331        |0              |30053310|1034 Hampshire   |2003-01-18 00:00:00|30180340   |2003-01-18 19:56:42|2003-01-18 20:09:03|2003-01-18 20:13:55|SF  |94110  |B10      |37          |null|1                |4                    |0        |0            |0          |0              |E37                |0                      |0.0                    |0              |0            |0                  |0                |1               |151 - Outside rubbish, trash or waste fire   |None      |11 - Extinguish     |-                     |-                 |-                         |419 - 1 or 2 family dwelling           |null                                      |null                                      |null                   |null                     |null             |null                                      |null                                  |null          |null            |null                |null       |null          |null                                |null                                    |null                              |null                                |null             |null         |null              |null                  |null                   |null                                  |null                              |null                                    |null                                        |null                               |null               |Potrero Hill         |POINT (-122.4066274 37.75534626)|
+---------------+---------------+--------+-----------------+-------------------+-----------+-------------------+-------------------+-------------------+----+-------+---------+------------+----+-----------------+---------------------+---------+-------------+-----------+---------------+-------------------+-----------------------+-----------------------+---------------+-------------+-------------------+-----------------+----------------+---------------------------------------------+----------+--------------------+----------------------+------------------+--------------------------+---------------------------------------+------------------------------------------+------------------------------------------+-----------------------+-------------------------+-----------------+------------------------------------------+--------------------------------------+--------------+----------------+--------------------+-----------+--------------+------------------------------------+----------------------------------------+----------------------------------+------------------------------------+-----------------+-------------+------------------+----------------------+-----------------------+--------------------------------------+----------------------------------+----------------------------------------+--------------------------------------------+-----------------------------------+-------------------+---------------------+--------------------------------+
only showing top 5 rows

In [79]:
# different count of neighborhood_district

df_fire.where(F.col("neighborhood_district").isNotNull()).agg(F.countDistinct('neighborhood_district')).show()

+----------------------------+
|count(neighborhood_district)|
+----------------------------+
|                          41|
+----------------------------+

In [84]:
# listing them

df_fire.select('neighborhood_district').where(F.col("neighborhood_district").isNotNull()).distinct().show(5)

+---------------------+
|neighborhood_district|
+---------------------+
|         Inner Sunset|
|       Haight Ashbury|
|         Lincoln Park|
|            Japantown|
|          North Beach|
+---------------------+
only showing top 5 rows

In [106]:
df_fire.select(df_fire.columns[0:4]).show(truncate=False)

+---------------+---------------+--------+----------------------------+
|Incident Number|Exposure Number|ID      |Address                     |
+---------------+---------------+--------+----------------------------+
|8028304        |0              |80283040|150 Elsie St.               |
|8028303        |0              |80283030|85 Turner Tr.               |
|8028309        |0              |80283090|175 6th St.                 |
|8028314        |0              |80283140|633 Hayes St.               |
|8028319        |0              |80283190|27th Av. / Cabrillo St.     |
|8028337        |0              |80283370|165 Belgrave Av.            |
|8028329        |0              |80283290|Grant Av. / Post St.        |
|8028350        |0              |80283500|Cortland Av. / Andover St.  |
|8028355        |0              |80283550|2nd St. / Brannan St.       |
|8028352        |0              |80283520|300 Ortega St.              |
|8028359        |0              |80283590|241 6th St.                 |
|8028371        |0              |80283710|Mendell St. / Newhall St.   |
|8028112        |0              |80281120|982 Market St.              |
|8028114        |0              |80281140|1485 Bayshore Bl.           |
|8028127        |0              |80281270|University St. / Wayland St.|
|8028125        |0              |80281250|1 Sf Intl Airport           |
|8028129        |0              |80281290|301 Main St.                |
|8028137        |0              |80281370|21st Av. / Balboa St.       |
|8028139        |0              |80281390|1225 Northpoint Dr.         |
|8028155        |0              |80281550|Geary Bl. / 48th Av.        |
+---------------+---------------+--------+----------------------------+
only showing top 20 rows

In [107]:
df_fire.explain(True)

== Parsed Logical Plan ==
Relation [Incident Number#839,Exposure Number#840,ID#841,Address#842,Incident Date#843,Call Number#844,Alarm DtTm#845,Arrival DtTm#846,Close DtTm#847,City#848,zipcode#849,Battalion#850,Station Area#851,Box#852,Suppression Units#853,Suppression Personnel#854,EMS Units#855,EMS Personnel#856,Other Units#857,Other Personnel#858,First Unit On Scene#859,Estimated Property Loss#860,Estimated Contents Loss#861,Fire Fatalities#862,... 40 more fields] csv

== Analyzed Logical Plan ==
Incident Number: int, Exposure Number: int, ID: int, Address: string, Incident Date: timestamp, Call Number: int, Alarm DtTm: timestamp, Arrival DtTm: timestamp, Close DtTm: timestamp, City: string, zipcode: string, Battalion: string, Station Area: string, Box: string, Suppression Units: int, Suppression Personnel: int, EMS Units: int, EMS Personnel: int, Other Units: int, Other Personnel: int, First Unit On Scene: string, Estimated Property Loss: int, Estimated Contents Loss: double, Fire Fatalities: int, ... 40 more fields
Relation [Incident Number#839,Exposure Number#840,ID#841,Address#842,Incident Date#843,Call Number#844,Alarm DtTm#845,Arrival DtTm#846,Close DtTm#847,City#848,zipcode#849,Battalion#850,Station Area#851,Box#852,Suppression Units#853,Suppression Personnel#854,EMS Units#855,EMS Personnel#856,Other Units#857,Other Personnel#858,First Unit On Scene#859,Estimated Property Loss#860,Estimated Contents Loss#861,Fire Fatalities#862,... 40 more fields] csv

== Optimized Logical Plan ==
Relation [Incident Number#839,Exposure Number#840,ID#841,Address#842,Incident Date#843,Call Number#844,Alarm DtTm#845,Arrival DtTm#846,Close DtTm#847,City#848,zipcode#849,Battalion#850,Station Area#851,Box#852,Suppression Units#853,Suppression Personnel#854,EMS Units#855,EMS Personnel#856,Other Units#857,Other Personnel#858,First Unit On Scene#859,Estimated Property Loss#860,Estimated Contents Loss#861,Fire Fatalities#862,... 40 more fields] csv

== Physical Plan ==
FileScan csv [Incident Number#839,Exposure Number#840,ID#841,Address#842,Incident Date#843,Call Number#844,Alarm DtTm#845,Arrival DtTm#846,Close DtTm#847,City#848,zipcode#849,Battalion#850,Station Area#851,Box#852,Suppression Units#853,Suppression Personnel#854,EMS Units#855,EMS Personnel#856,Other Units#857,Other Personnel#858,First Unit On Scene#859,Estimated Property Loss#860,Estimated Contents Loss#861,Fire Fatalities#862,... 40 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/snehil/snehi/Desktop/Data/fire.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Incident Number:int,Exposure Number:int,ID:int,Address:string,Incident Date:timestamp,Call...

### `SQL Tables`

#### Managed Table or Internal

In [22]:
spark.sql('create database learn_spark')

23/04/20 20:37:24 WARN ObjectStore: Failed to get database learn_spark, returning NoSuchObjectException
23/04/20 20:37:24 WARN ObjectStore: Failed to get database learn_spark, returning NoSuchObjectException
23/04/20 20:37:24 WARN ObjectStore: Failed to get database learn_spark, returning NoSuchObjectException

DataFrame[]

In [19]:
spark.sql('use learn_spark')

DataFrame[]

##### using saveAsTable

In [40]:
schema="`State` string, `Color` string, `Count` int"

In [41]:
df.write.saveAsTable("mnm_1",schema=schema)

##### using spark sql

In [63]:
# creating a managed table
spark.sql("create table mnm_2 (`State` string, `Color` string, `Count` int)")

23/04/20 21:03:01 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.
23/04/20 21:03:01 WARN HiveMetaStore: Location: file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/spark-warehouse/learn_spark.db/mnm_2 specified for non-external table:mnm_2

DataFrame[]

In [64]:
df.createOrReplaceTempView('mnm')

In [65]:
spark.sql("insert into mnm_2  select * from mnm")

DataFrame[]

In [71]:
spark.sql('describe extended mnm_2').show(truncate=False)

+----------------------------+------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                   |comment|
+----------------------------+------------------------------------------------------------------------------------------------------------+-------+
|State                       |string                                                                                                      |null   |
|Color                       |string                                                                                                      |null   |
|Count                       |int                                                                                                         |null   |
|                            |                                                                                                            |       |
|# Detailed Table Information|                                                                                                            |       |
|Catalog                     |spark_catalog                                                                                               |       |
|Database                    |learn_spark                                                                                                 |       |
|Table                       |mnm_2                                                                                                       |       |
|Owner                       |snehil                                                                                                      |       |
|Created Time                |Thu Apr 20 21:03:01 IST 2023                                                                                |       |
|Last Access                 |UNKNOWN                                                                                                     |       |
|Created By                  |Spark 3.4.0                                                                                                 |       |
|Type                        |MANAGED                                                                                                     |       |
|Provider                    |hive                                                                                                        |       |
|Table Properties            |[transient_lastDdlTime=1682004787]                                                                          |       |
|Statistics                  |1184854 bytes                                                                                               |       |
|Location                    |file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/spark-warehouse/learn_spark.db/mnm_2|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                                          |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                                    |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                                                  |       |
+----------------------------+------------------------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

#### Unmanaged Table or External

##### using sql

In [55]:

spark.sql("""create table mnm_2_unmanaged (`State` string, `Color` string, `Count` int) using csv options (PATH '/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/data/mnm.csv')""")

23/04/20 20:51:37 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`learn_spark`.`mnm_2_unmanaged` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [57]:
spark.sql('select * from mnm_2_unmanaged').show(5)

+-----+-----+-----+
|State|Color|Count|
+-----+-----+-----+
|State|Color| null|
|   TX|  Red|   20|
|   NV| Blue|   66|
|   CO| Blue|   79|
|   OR| Blue|   71|
+-----+-----+-----+
only showing top 5 rows

In [54]:
#spark.sql('drop table mnm_2_unmanaged')

23/04/20 20:51:27 WARN HadoopFSUtils: The directory file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/data/mnm1.csv was not found. Was it deleted very recently?

DataFrame[]

##### using saveAsTable

In [35]:
df.write.mode('overwrite').option("path", 'mnm_1_unmanaged').saveAsTable('mnm_1_unmanaged')

In [34]:
spark.sql('describe extended mnm_1_unmanaged').show(truncate=False)

+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                             |comment|
+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+
|State                       |string                                                                                                                |null   |
|Color                       |string                                                                                                                |null   |
|Count                       |int                                                                                                                   |null   |
|                            |                                                                                                                      |       |
|# Detailed Table Information|                                                                                                                      |       |
|Catalog                     |spark_catalog                                                                                                         |       |
|Database                    |learn_spark                                                                                                           |       |
|Table                       |mnm_1_unmanaged                                                                                                       |       |
|Owner                       |snehil                                                                                                                |       |
|Created Time                |Thu Apr 20 22:36:58 IST 2023                                                                                          |       |
|Last Access                 |UNKNOWN                                                                                                               |       |
|Created By                  |Spark 3.4.0                                                                                                           |       |
|Type                        |EXTERNAL                                                                                                              |       |
|Provider                    |parquet                                                                                                               |       |
|Location                    |file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/spark-warehouse/learn_spark.db/mnm_1_unmanaged|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe                                                           |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat                                                         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat                                                        |       |
+----------------------------+----------------------------------------------------------------------------------------------------------------------+-------+

##### Reading the saved table

In [31]:
df_read = spark.table('learn_spark.mnm_2')
df_read.show(5)

23/04/20 21:51:30 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
+-----+------+-----+
only showing top 5 rows

### `SQL Views`

In [79]:
df_agg = spark.sql('select `State`,`Color`,count(`Count`) from learn_spark.mnm_1 group by `State`,`Color`')

# global temporary view
df_agg.createOrReplaceGlobalTempView('global_temp_mnm_view')

In [80]:
# temporary view
df_agg.createOrReplaceTempView('global_temp_mnm_view')

Note : when accessing a global temporary view you must use the prefix global_temp.<view_name>

In [81]:
spark.sql('select * from global_temp.global_temp_mnm_view').show(5)

+-----+------+------------+
|State| Color|count(Count)|
+-----+------+------------+
|   WY| Green|        1695|
|   NV|   Red|        1610|
|   UT|  Blue|        1655|
|   WA|Orange|        1658|
|   NM| Green|        1682|
+-----+------+------------+
only showing top 5 rows

### `Viewing the Metadata - Spark Catalog`

In [86]:
spark.catalog.listDatabases()

[Database(name='default', catalog='spark_catalog', description='Default Hive database', locationUri='file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/spark-warehouse'),
 Database(name='learn_spark', catalog='spark_catalog', description='', locationUri='file:/home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/spark-warehouse/learn_spark.db')]

In [87]:
spark.catalog.listTables()

[Table(name='mnm_1', catalog='spark_catalog', namespace=['learn_spark'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='mnm_1_unmanaged', catalog='spark_catalog', namespace=['learn_spark'], description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='mnm_2', catalog='spark_catalog', namespace=['learn_spark'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='mnm_2_unmanaged', catalog='spark_catalog', namespace=['learn_spark'], description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='global_temp_mnm_view', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [90]:
spark.catalog.listColumns("learn_spark.mnm_2")

[Column(name='State', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='Color', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='Count', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False)]

In [91]:
spark.sql('describe extended global_temp.global_temp_mnm_view').show(truncate=False)

+------------+---------+-------+
|col_name    |data_type|comment|
+------------+---------+-------+
|State       |string   |null   |
|Color       |string   |null   |
|count(Count)|bigint   |null   |
+------------+---------+-------+

### `Caching`

-- In SQL

* CACHE [LAZY] TABLE <table-name>

* UNCACHE TABLE <table-name>

### `Reading an Image file in a dataframe`

In [113]:
from pyspark.ml import image
image_dir = 'data/train_images/'
image_df = spark.read.format("image").load(image_dir)

In [114]:
image_df.printSchema()

root
 |-- image: struct (nullable = true)
 |    |-- origin: string (nullable = true)
 |    |-- height: integer (nullable = true)
 |    |-- width: integer (nullable = true)
 |    |-- nChannels: integer (nullable = true)
 |    |-- mode: integer (nullable = true)
 |    |-- data: binary (nullable = true)

In [119]:
image_df.select('image.origin','image.height','image.width','image.nChannels','image.mode').show(truncate=False)

+--------------------------------------------------------------------------------------------------------+------+-----+---------+----+
|origin                                                                                                  |height|width|nChannels|mode|
+--------------------------------------------------------------------------------------------------------+------+-----+---------+----+
|file:///home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/data/train_images/IMG_0074.PNG|1135  |1825 |4        |24  |
|file:///home/snehil/Desktop/data-engineering-resources/4_spark/spark_book/data/train_images/IMG_0073.PNG|1172  |2360 |4        |24  |
+--------------------------------------------------------------------------------------------------------+------+-----+---------+----+